<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <header>
            <h1>LOGO</h1>
                <a href="#">home</a>
                <a href="#">products</a>
                <a href="#">about</a>
        </header>
        <nav>
            <a href="#">news</a>
            <a href="#">sports</a>
            <a href="#">fashion</a>
        </nav>
        <article>content left</article>
        <article>content right</article>
        <aside>banner ad</aside>
        <footer>footer</footer>
    </div>
</body>
</html>