body {
    text-align: center;
    background-color: blanchedalmond;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    color: grey;
}

legend {
    font-size: 30px;
}

table {
    margin: auto;
    width: 100%;
    font-size: 2em;
}

td, th {
    padding: auto;
}

img {
    width: 150px;
    height: 150px;
}

iframe {
    width: auto;
    height: auto;
}

a {
    text-align: center;
}

.list-link {
    display: inline-block;
    text-align: left;
}