.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff8dc;
  padding: 20px;
  border-radius: 12px;
}

.details h3 {
  margin: 0;
}

.details ul {
  padding-left: 20px;
  text-align: left;
}

.details img {
  width: 250px;
  height: auto;
  border: 3px solid green;
  border-radius: 8px;
}
